body {
  font-family: "Jost", sans-serif;
}

.app-default {
    background-color: #f5f5f5;
}

.slk-dark {
    background-color: #1c283e;
}
:root {
    --bs-primary: #3498db;
    --bs-primary-active: #087ecc;
}

.form-check-input:checked {
    background-color: #3498db;
    border-color: #3498db;
}

.table-responsive {
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgb(0 0 0 / 5%) !important;
    border: solid 1px #f8f4f4;
}