:root {
    --bs-success: #68c617;
    --bs-text-success: #68c617;
}

body {
  font-family: "Jost", sans-serif;
}

[data-bs-theme="light"] body {
    background: #F4F6FA !important;
}

.card {
    border: 0;
    box-shadow: none;
    border-radius: 25px;
}

.bg-dark {
    background: linear-gradient(181deg, #1c283e, #0d1422) !important;
}

#kt_app_header {
    box-shadow: 0px 10px 50px #00000040;
}